<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
<section class="login_pages">
     <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">
               <div class="login_image">
                <img src="assets/images/loginpage.jpg" alt="">
               </div>
         </div>
         <div class="login-page  col-md-6">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="signin-2" aria-selected="false">Forgot Password</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel">
                            <form action="#" (submit)="submit()">
                                <div class="form-group">
                                    <label >email address *</label>
                                    <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" required>
                                </div><!-- End .form-group -->
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Forgot Your Password?</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div><!-- End .form-footer -->
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
    </div><!-- End .login-page section-bg -->

      </div>
     </div>
</section>
   
</main><!-- End .main -->
