<div class="container-fluid">
  <div class="shipping-delivery-policy fontClass">
    <h2 class="main">Shipping and Delivery Policy</h2>
    <!-- <p>Last updated: [Date]</p> -->

    <p class="content">
      At Dickkny, we strive to provide you with a seamless and efficient
      shipping and delivery experience. This Shipping and Delivery Policy
      outlines the terms and conditions related to the shipping and delivery of
      products purchased from our website. By placing an order with us, you
      agree to the terms outlined below.
    </p>

    <h3 class="allH3">1. Order Processing</h3>
    <ul class="content">
      <li>
        <strong>Order Confirmation:</strong> Once your order is placed, you will
        receive an order confirmation email with your order details. Please
        review this information carefully and contact us immediately if any
        changes are needed.
      </li>
      <li>
        <strong>Processing Time:</strong> Orders are processed within 4 business
        days (excluding weekends and holidays) after receiving your order
        confirmation email. You will receive another notification when your
        order has shipped.
      </li>
    </ul>

    <h3 class="allH3">2. Shipping Rates and Delivery Estimates</h3>
    <ul class="content">
      <li>
        <strong>Shipping Rates:</strong> Shipping charges for your order will be
        calculated and displayed at checkout. We offer various shipping options
        to meet your needs.
      </li>
      <li>
        <strong>Delivery Estimates:</strong> Delivery times vary based on your
        location and the shipping method selected. Estimated delivery times will
        be provided at checkout. Please note that these are estimates and actual
        delivery times may vary.
      </li>
      <ul class="content">
        <li>Standard Shipping: 3 to 4 business days</li>
      </ul>
    </ul>

    <h3 class="allH3">3. International Shipping</h3>
    <ul class="content">
      <li>
        <strong>Availability:</strong> We offer international shipping to many
        countries. Shipping rates and delivery times for international orders
        will be calculated and displayed at checkout.
      </li>
      <li>
        <strong>Customs, Duties, and Taxes:</strong> Your order may be subject
        to customs fees, import duties, and taxes, which are not included in our
        shipping charges. These fees are the responsibility of the recipient and
        are determined by the customs authority of the destination country.
        Please check with your local customs office for more information.
      </li>
    </ul>

    <h3 class="allH3">4. Shipping Confirmation and Order Tracking</h3>
    <ul class="content">
      <li>
        <strong>Shipping Confirmation:</strong> You will receive a shipping
        confirmation email once your order has shipped. This email will include
        your tracking number and a link to track your order.
      </li>
      <li>
        <strong>Order Tracking:</strong> You can track your order using the
        tracking number provided in your shipping confirmation email. Please
        allow 24 hours for the tracking information to update.
      </li>
    </ul>

    <h3 class="allH3">5. Delivery Issues</h3>
    <ul class="content">
      <li>
        <strong>Incomplete or Incorrect Address:</strong> Please ensure that
        your shipping address is complete and correct. We are not responsible
        for orders shipped to an incorrect address provided by the customer.
      </li>
      <li>
        <strong>Delivery Delays:</strong> While we strive to deliver your order
        within the estimated delivery times, delays may occur due to unforeseen
        circumstances such as weather conditions, customs processing, or carrier
        delays. We appreciate your patience and understanding in such cases.
      </li>
      <li>
        <strong>Lost or Damaged Packages:</strong> If your order is lost or
        damaged during transit, please contact us immediately at
        <a href="mailto:info@dickkny.com">info&#64;dickkny.com </a> with your
        order number and details. We will work with the carrier to resolve the
        issue and ensure you receive your order.
      </li>
    </ul>

    <h3 class="allH3">6. Returns and Exchanges</h3>
    <p class="content">
      Please refer to our
      <a href="/return">Return and Exchange Policy</a>
      for information on how to return or exchange your order.
    </p>

    <h3 class="allH3">7. Contact Us</h3>
    <ul class="content">
      <li>
        Email:
        <strong
          ><a href="mailto:info@dickkny.com">info&#64;dickkny.com </a></strong
        >
      </li>

      <li>
        Mailing Address:<strong class="smallContent">
          2ND FLOOR, IX/3292, GALI NO-6 DHARAMPURA,<br />GANDHI NAGAR, East
          Delhi,110031, NEW DELHI</strong
        >
      </li>
    </ul>
  </div>
</div>
