<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">About us</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->
  <div class="page-content pb-0">
    <div class="container-fluid abouts_top mb-5">
      <div class="row aboutsbanneer">
        <div class="col-lg-6">
          <div class="leftbanner">
            <img src="assets/images/abouts_us.jpg" />
          </div>
        </div>
        <div class="col-lg-6">
          <h2 class="title">
            Welcome to Dickkny – Where Fashion Meets Affordability
          </h2>
          <!-- End .title -->
          <p>
            At Dickkny, we are dedicated to providing the modern woman with
            stylish and affordable fashion. Specializing in ladies' jeans, our
            collection is designed for those who want to stay on-trend while
            enjoying the comfort and quality they deserve. We believe that great
            style shouldn’t come with a hefty price tag, and our mission is to
            bring you high-quality jeans that fit perfectly, feel amazing, and
            look fantastic.
          </p>
          <h2 class="title">Our Journey</h2>
          <!-- End .title -->
          <p>
            Dickkny was founded with a clear vision: to create a brand that
            offers fashionable, well-made jeans at prices everyone can afford.
            Our journey began with a passion for fashion and a commitment to
            excellence. Over the years, we have grown into a trusted name in
            women's fashion, known for our dedication to quality and our ability
            to stay ahead of the latest trends.
          </p>
        </div>
        <!-- End .col-lg-6 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->

    <div
      class="bg-image pt-7 pb-5 pt-md-12 pb-md-9"
      style="background-image: url(assets/images/backgrounds/bg-4.jpg)"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="count-container text-center">
              <div class="count-wrapper text-white">
                <span
                  class="count"
                  data-from="0"
                  data-to="40"
                  data-speed="3000"
                  data-refresh-interval="50"
                  >0</span
                >k+
              </div>
              <!-- End .count-wrapper -->
              <h3 class="count-title text-white">Happy Customer</h3>
              <!-- End .count-title -->
            </div>
            <!-- End .count-container -->
          </div>
          <!-- End .col-6 col-md-3 -->

          <div class="col-6 col-md-3">
            <div class="count-container text-center">
              <div class="count-wrapper text-white">
                <span
                  class="count"
                  data-from="0"
                  data-to="20"
                  data-speed="3000"
                  data-refresh-interval="50"
                  >0</span
                >+
              </div>
              <!-- End .count-wrapper -->
              <h3 class="count-title text-white">Years in Business</h3>
              <!-- End .count-title -->
            </div>
            <!-- End .count-container -->
          </div>
          <!-- End .col-6 col-md-3 -->

          <div class="col-6 col-md-3">
            <div class="count-container text-center">
              <div class="count-wrapper text-white">
                <span
                  class="count"
                  data-from="0"
                  data-to="95"
                  data-speed="3000"
                  data-refresh-interval="50"
                  >0</span
                >%
              </div>
              <!-- End .count-wrapper -->
              <h3 class="count-title text-white">Return Clients</h3>
              <!-- End .count-title -->
            </div>
            <!-- End .count-container -->
          </div>
          <!-- End .col-6 col-md-3 -->

          <div class="col-6 col-md-3">
            <div class="count-container text-center">
              <div class="count-wrapper text-white">
                <span
                  class="count"
                  data-from="0"
                  data-to="15"
                  data-speed="3000"
                  data-refresh-interval="50"
                  >0</span
                >
              </div>
              <!-- End .count-wrapper -->
              <h3 class="count-title text-white">Awards Won</h3>
              <!-- End .count-title -->
            </div>
            <!-- End .count-container -->
          </div>
          <!-- End .col-6 col-md-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .bg-image pt-8 pb-8 -->

    <div
      style="font-family: Times New Roman, Times, serif; text-align: justify"
      class="bg-light-2 pt-6 pb-5"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 mb-3 mb-lg-0">
            <h2 class="title">Our Commitment to You</h2>
            <!-- End .title -->

            <p class="lead text-primary mb-3" style="font-size: 15px">
              At Dickkny, we are more than just a fashion brand; we are a
              community. We are committed to providing you with the best
              shopping experience, from the moment you visit our website to the
              moment you wear your new favorite pair of jeans. Our customer
              service team is always here to help, ensuring that your experience
              with Dickkny is nothing short of exceptional.
            </p>
            <!-- End .lead text-primary -->
            <h2 class="title">Made in India, Worn Worldwide</h2>
            <!-- End .title -->
            <p class="mb-2">
              We are proud to be an Indian brand that supports local
              craftsmanship. All our products are made in India, reflecting the
              rich heritage and exceptional skills of our artisans. By choosing
              Dickkny, you are not only investing in high-quality fashion but
              also supporting sustainable practices and the local economy.
            </p>
            <!-- 
            <a

              routerLink="/blog"
              class="btn btn-sm btn-minwidth btn-outline-primary-2"
            >
              <span>VIEW OUR NEWS</span>
              <i class="icon-long-arrow-right"></i>
            </a> -->
          </div>
          <!-- End .col-lg-5 -->

          <div class="col-lg-6 offset-lg-1">
            <div class="about-images">
              <img
                src="assets/images/about/img-1.jpg"
                alt=""
                class="about-img-front"
              />
              <img
                src="assets/images/about/img-2.jpg"
                alt=""
                class="about-img-back"
              />
            </div>
            <!-- End .about-images -->
          </div>
          <!-- End .col-lg-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .bg-light-2 pt-6 pb-6 -->

    <!-- End .bg-light-2 pt-6 pb-6 -->
    <div
      style="margin-top: 20px"
      class="about-testimonials bg-light-2 pt-6 pb-6"
    >
      <div class="container-fluid">
        <h2 class="title text-center mb-3">What Customer Say About Us</h2>
        <!-- End .title text-center -->

        <div
          class="owl-carousel owl-theme owl-testimonials"
          data-toggle="owl"
          data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": true,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "768": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":3,
                                    "nav": true
                                }
                            }
                        }'
        >
          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              "The Boyfriend jeans I bought from Dickkny are just what I was
              looking for! The fit is relaxed, yet flattering, and the denim
              lycra fabric is soft and durable. Highly recommended!"
            </p>
            <cite>
              Bangalore
              <span>Rashmi Rao</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->

          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              "I love my new Cargo jeans from Dickkny! The colors are trendy,
              and they fit so well. The quality of the knitted lycra fabric is
              impressive, making them super comfy for all-day wear."
            </p>

            <cite>
              Chandigarh
              <span>Ritika Singh</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->

          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              "Finding the perfect pair of jeans has always been a challenge,
              but Dickkny made it so easy. Their Skin Fit jeans fit like a
              glove, and the material is so breathable—perfect for the hot
              weather!"
            </p>

            <cite>
              Jaipur
              <span>Neha Kapoor</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->

          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              "I recently bought the High Waist Boot Leg jeans from Dickkny, and
              they’ve become a staple in my wardrobe. The style is on-trend, and
              they’re super comfortable even after a long day."
            </p>

            <cite>
              Pune
              <span> Kavita Joshi</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->
        </div>
        <!-- End .testimonials-slider owl-carousel -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .bg-light-2 pt-5 pb-6 -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
