.cursor-pointer{
    cursor: pointer;
  }

  /* Basic styling for size buttons */
.size-button {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between buttons */
}

.size-button button {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Style for active (selected) button */
.size-button.active button {
  background-color: #007bff; /* Change to your selected color */
  color: #fff; /* Text color when selected */
  border-color: #007bff; /* Border color when selected */
}

/* Hover effect for buttons */
.size-button button:hover:not(.active) {
  background-color: #f0f0f0; /* Change to your hover background color */
}
.size-button-container {
  overflow: auto;
}
.size-button {
  margin-right: 5px; /* Adjust spacing */
}

/* Add basic styles to ensure the zoom container is positioned correctly */
.product-main-image {
  position: relative;
}

.zoom-image {
  transition: transform 0.5s ease;
  cursor: pointer; /* Optional: changes cursor to indicate zoom effect */
}

.zoom-image:hover {
  transform: scale(1.1); /* Adjust scale as needed */
  z-index: 1; /* Ensure zoomed image is on top */
}

/* Optional: Create a container to control the zoom area */
.product-main-image {
  overflow: hidden; /* Hide any overflow from the zoom effect */
}

