.entireClass{
    padding: 5px;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size:medium;
    font-weight: 500;
    text-align: justify;
    // font-size: 15px;
    margin-bottom: 10px;
    
}

ul.content {
    list-style-type: disc; /* Ensures bullet points are shown */
    padding-left: 20px; /* Adds indentation for the bullet points */
  }
  .main{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .smallContent{
font-size: 15px;
  }

  .fontClass{
    font-family: Arial, Helvetica, sans-serif;
  }
  