<app-header  ></app-header>
<!-- <app-header (searchResults)="onSearchResults($event)"></app-header>
<div *ngIf="searchResults.length">
  <div *ngFor="let product of searchResults">
    {{ product.name }} - {{ product.brandId.name }} - {{ product.categoryId.name }}
  </div>
</div> -->

<div class="spinner-overlay" *ngIf="loaderService.isLoading">
  <mat-spinner color="red" [diameter]="80"></mat-spinner>
  <!-- <mat-spinner color="red" [diameter]="100"></mat-spinner> -->
</div>
<router-outlet> </router-outlet>

<app-footer></app-footer>




