<div class="container-fluid">
  <div class="terms-conditions fontClass">
    <h2 class="main">Terms and Conditions</h2>
    <!-- <p>Last updated: [Date]</p> -->

    <p class="content">
      Welcome to Dickkny. These Terms and Conditions outline the rules and
      regulations for the use of our website and services. By accessing or using
      our website, you agree to be bound by these Terms and Conditions. If you
      do not agree with any part of these terms, you must not use our website.
    </p>

    <h3>1. Definitions</h3>
    <ul class="content">
      <li>"We," "us," "our": Refers to Dickkny</li>
      <li>
        "You," "user," "customer": Refers to the individual accessing or using
        our website or services.
      </li>
      <li>
        "Website": Refers to
        <a href="https://dickkny.com/">https://dickkny.com/</a>
      </li>
    </ul>

    <h3>2. Use of Our Website</h3>
    <p class="content">By using our website, you agree to:</p>
    <ul class="content">
      <li>
        Use the website in accordance with these Terms and Conditions and
        applicable laws.
      </li>
      <li>Not use the website for any unlawful or fraudulent purposes.</li>
      <li>
        Not attempt to gain unauthorized access to any part of the website or
        its systems.
      </li>
      <li>
        Not interfere with the security or integrity of the website or its
        content.
      </li>
    </ul>

    <h3>3. Account Registration</h3>
    <p class="content">
      To access certain features of our website, you may need to create an
      account. You agree to:
    </p>
    <ul class="content">
      <li>
        Provide accurate and complete information during the registration
        process.
      </li>
      <li>Keep your account information up-to-date.</li>
      <li>Maintain the confidentiality of your account credentials.</li>
      <li>Notify us immediately of any unauthorized use of your account.</li>
    </ul>

    <h3>4. Product Information and Availability</h3>
    <p class="content">
      We strive to provide accurate information about our products, including
      descriptions, pricing, and availability. However, we do not guarantee that
      the information is always accurate, complete, or current. We reserve the
      right to correct any errors, inaccuracies, or omissions and to change or
      update information at any time without prior notice.
    </p>

    <h3>5. Orders and Payments</h3>
    <p class="content">
      - Order Acceptance: All orders are subject to acceptance by us. We reserve
      the right to refuse or cancel any order for any reason, including but not
      limited to product availability, errors in pricing or product
      descriptions, or issues identified by our credit and fraud prevention
      department.
      <br />
      - Payment: By placing an order, you agree to provide valid payment
      information. We accept various payment methods, as indicated on our
      website. Your payment will be processed upon order placement.
      <br />
      - Shipping and Delivery: Shipping and delivery times are estimates and may
      vary. We are not responsible for delays caused by shipping carriers or
      other factors beyond our control.
    </p>

    <h3>6. Returns and Exchanges</h3>
    <p class="content">
      Our return and exchange policy is outlined on our website. Please review
      the policy carefully before making a purchase. By making a purchase, you
      agree to comply with our return and exchange policy.
    </p>

    <h3>7. Intellectual Property</h3>
    <p class="content">
      All content on our website, including but not limited to text, images,
      graphics, logos, and software, is the property of DickKNY or its licensors
      and is protected by intellectual property laws. You may not reproduce,
      distribute, modify, or create derivative works from any content on our
      website without our prior written consent.
    </p>

    <h3>8. Limitation of Liability</h3>
    <p class="content">
      To the fullest extent permitted by law, DickKNY shall not be liable for
      any indirect, incidental, special, consequential, or punitive damages, or
      any loss of profits or revenues, whether incurred directly or indirectly,
      or any loss of data, use, goodwill, or other intangible losses, resulting
      from:
    </p>
    <ul class="content">
      <li>Your use or inability to use our website or services.</li>
      <li>
        Any unauthorized access to or use of our servers and/or any personal
        information stored therein.
      </li>
      <li>
        Any interruption or cessation of transmission to or from our website.
      </li>
      <li>
        Any bugs, viruses, trojan horses, or the like that may be transmitted to
        or through our website by any third party.
      </li>
    </ul>

    <h3>9. Indemnification</h3>
    <p class="content">
      You agree to indemnify and hold harmless DickKNY, its affiliates, and
      their respective officers, directors, employees, and agents from and
      against any claims, liabilities, damages, losses, and expenses, including
      reasonable attorneys' fees, arising out of or in any way connected with
      your use of our website or violation of these Terms and Conditions.
    </p>

    <h3>10. Governing Law</h3>
    <p class="content">
      These Terms and Conditions shall be governed by and construed in
      accordance with the laws of [Your Country/State], without regard to its
      conflict of law principles.
    </p>

    <h3>11. Changes to These Terms and Conditions</h3>
    <p class="content">
      We may update these Terms and Conditions from time to time. We will notify
      you of any changes by posting the new Terms and Conditions on our website
      and updating the "Last updated" date at the top of this page. Your
      continued use of our website after any changes constitutes your acceptance
      of the new Terms and Conditions.
    </p>

    <h3>12. Contact Us</h3>
    <ul class="content">
      <li>
        Email:
        <strong
          ><a href="mailto:info@dickkny.com">info&#64;dickkny.com </a></strong
        >
      </li>

      <li>
        Mailing Address:<strong class="smallContent">
          2ND FLOOR, IX/3292, GALI NO-6 DHARAMPURA,<br />GANDHI NAGAR, East
          Delhi,110031, NEW DELHI</strong
        >
      </li>
    </ul>
  </div>
</div>
