<app-newsletter></app-newsletter>
<div class="page-wrapper">
  <main class="main">
    <div class="container-fluid">
      <div class="topsb">
        <div

          class="owl-carousel owl-simple"
          data-toggle="owl"
          data-owl-options='{
          "nav": true, 
          "dots": false,
          "margin": 20,
          "loop": true,
          "responsive": {
              "0": {
                  "items": 4,
                  "margin": 10,
                  "dots": false,
                  "nav": true
              },
              "480": {
                  "items": 4,
                  "margin": 10,
                  "dots": false,
                  "nav": true
              },
  
              "768": {
                  "items": 4,
                  "nav": true,
                  "dots": false
              },
              "992": {
                  "items": 4,
                  "nav": true,
                  "dots": false
              },
              "1200": {
                  "items": 4,
                  "nav": true,
                  "dots": false
              }
          }
      }'
        >
          <div *ngFor="let product of getAllProducts" class="banner item topsb">
            <div class="product product-6">
              <figure class="product-media">
                <span *ngIf="product.tag" class="product-label">{{
                  product.tag
                }}</span>
                <a routerLink="/product/{{ product._id }}">
                  <img
                    src="{{ product.image }}"
                    alt="Product image"
                    class="product-image"
                  />
                </a>

                <div class="product-action-vertical cursor-pointer">
                  <a
                    (click)="addToWishlist(product._id)"
                    class="btn-product-icon btn-wishlist btn-expandable"
                    ><span>add to wishlist</span></a
                  >
                </div>
                <!-- End .product-action -->
              </figure>
              <!-- End .product-media -->

              <div class="product-body">
                <div *ngIf="product?.brandId?.name" class="product-cat">
                  <a>{{ product.brandId.name }}</a>
                </div>
                <!-- End .product-cat -->
                <h3 class="product-title">
                  <a routerLink="/product/{{ product._id }}">{{
                    product.name
                  }}</a>
                </h3>
                <!-- End .product-title -->
                <div class="product-price">
                  <span class="new-price">₹ {{ product.salePrice }}</span>
                  <span *ngIf="product.price" class="old-price"
                    >₹ {{ product.price }}</span
                  >
                </div>
                <!-- End .product-price -->
                <div
                  *ngIf="product.size.length > 0"
                  class="product-nav product-nav-thumbs"
                >
                  <div
                    *ngFor="let productSize of product.size"
                    class="size-button"
                    [ngClass]="{
                      active: sizeSelected && productSize === selectedSize
                    }"
                  >
                    <button (click)="selectSize(productSize)">
                      {{ productSize.size }}
                    </button>
                  </div>
                </div>
                <!-- <div class="ratings-container">
                                  <div class="ratings">
                                      <div class="ratings-val" style="width: 40%;"></div>
                                  </div>
                                  <span class="ratings-text">( 4 Reviews )</span>
                              </div> -->

                <!-- <div class="product-nav product-nav-dots">
                                  <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                  <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color
                                          name</span></a>
                              </div> -->

                <div class="product-action cursor-pointer">
                  <a
                    (click)="addToCart(product._id)"
                    class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                  <!-- <a href="popup/quickView.html" class="btn-product btn-quickview"
                                      title="Quick view"><span>quick view</span></a> -->
                </div>
              </div>
              <!-- End .product-body -->
            </div>
            <!-- End .product -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
    </div>

    <!-- End .container -->
    <section class="trending_ca mt-3">
      <div class="container-fluid">
        <h2 class="title text-center">TRENDING CATEGORIES</h2>
        <div
          class="owl-item owl-carousel trending-carousel owl-simple"
          data-toggle="owl"
          data-owl-options='{
                "nav": true, 
                "dots": true,
                "margin": 20,
                "loop": false,
                "responsive": {
                    "0": {
                        "items":4,
                        "loop": true,
                        "nav": false, 
                        "dots": true
                    },
                    "480": {
                        "items":4,
                        "loop": true,
                        "nav": false, 
                        "dots": true
                    },
                    "768": {
                        "items":6
                    },
                    "992": {
                        "items":6
                    },
                    "1200": {
                        "items":5,
                        "nav": true,
                        "dots": false
                    }
                }
            }'
        >
          <div
            *ngFor="let category of getAllCategories"
            class="banner banner-cat cursor-pointer"
          >
            <a routerLink="/product-list/{{ category._id }}">
              <img src="{{ category.image }}" alt="Banner" />
            </a>

            <div class="categ-content text-center">
              <a
                routerLink="/product-list/{{ category._id }}"
                class="banner-title"
                >{{ category.name }}</a
              ><!-- End .banner-title -->
            </div>
            <!-- End .banner-content -->
          </div>
          <!-- End .banner -->
        </div>
        <!-- End .banners-carousel owl-carousel owl-simple -->
      </div>
    </section>

    <!-- End .banner-group -->

    <!-- End .icon-boxes-container -->

    <div
      *ngIf="allFeaturedProduct?.length > 0"
      class="bg-light-2 pt-4 pb-5 featured mt-5 mb-5"
    >
      <div class="container-fluid">
        <div class="heading heading-center mb-2">
          <h2 class="title">FEATURED PRODUCTS</h2>
          <!-- End .title -->
        </div>
        <!-- End .heading -->

        <div
          class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
          data-toggle="owl"
          data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": true,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "480": {
                                "items":2
                            },
                            "768": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            },
                            "1200": {
                                "items":5,
                                "nav": true
                            }
                        }
                    }'
        >
          <div
            *ngFor="let product of allFeaturedProduct"
            class="product product-7 text-center"
          >
            <figure class="product-media">
              <a routerLink="/product">
                <img
                  src="assets/images/products/product-1-1.jpg"
                  alt="Product image"
                  class="product-image"
                />
                <img
                  src="assets/images/products/product-1-2.jpg"
                  alt="Product image"
                  class="product-image-hover"
                />
              </a>

              <div class="product-action-vertical cursor-pointer">
                <a
                  (click)="addToWishlist(product._id)"
                  class="btn-product-icon btn-wishlist btn-expandable"
                  ><span>add to wishlist</span></a
                >
                <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a> -->
              </div>
              <!-- End .product-action-vertical -->

              <div class="product-action cursor-pointer">
                <a (click)="addToCart(product._id)" class="btn-product btn-cart"
                  ><span>add to cart</span></a
                >
              </div>
              <!-- End .product-action -->
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <h3 class="product-title">
                <a routerLink="/product">Jackets</a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">₹ {{ product.salePrice }}</div>
              <!-- End .product-price -->
              <div
                *ngIf="product.size.length > 0"
                class="product-nav product-nav-thumbs"
              >
                <div
                  *ngFor="let productSize of product.size"
                  class="size-button"
                  [ngClass]="{
                    active: sizeSelected && productSize === selectedSize
                  }"
                >
                  <button (click)="selectSize(productSize)">
                    {{ productSize.size }}
                  </button>
                </div>
              </div>
              <!-- <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 20%;"></div>
                                </div>
                                <span class="ratings-text">( 2 Reviews )</span>
                            </div> -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->
        </div>
      </div>
      <!-- End .container-fluid -->
    </div>
    <!-- End .bg-light-2 pt-4 pb-4 -->
    <div class="banner-group-1 product_news mt-5 mb-5 mt-4">
      <h2 class="title text-center mb-2">Trending Products</h2>
      <div class="container">
        <div
          class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
          data-toggle="owl"
          data-owl-options='{
                                    "nav": true, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": true,
                                    "responsive": {
                                        "0": {
                                            "items":3
                                        },
                                        "480": {
                                            "items":3
                                        },
                                        "768": {
                                            "items":5
                                        },
                                        "992": {
                                            "items":5,
                                            "nav": true
                                            
                                        }
                                    }
                                }'
        >
          <div
            *ngFor="let product of getTrendingProduct"
            class="product product-7"
          >
            <figure class="product-media">
              <span *ngIf="product.tag" class="product-label label-sale">{{
                product.tag
              }}</span>
              <a routerLink="/product/{{ product._id }}">
                <img
                  src="{{ product.image }}"
                  alt="Product image"
                  class="product-image"
                />
                <img
                  *ngIf="product.multipleimage.length > 0"
                  src="{{ product.multipleimage[0] }}"
                  alt="Product image"
                  class="product-image-hover"
                />
              </a>

              <div class="product-action-vertical cursor-pointer">
                <a
                  (click)="addToWishlist(product._id)"
                  class="btn-product-icon btn-wishlist btn-expandable"
                  ><span>add to wishlist</span></a
                >
              </div>
              <!-- End .product-action-vertical -->

              <div class="product-action cursor-pointer">
                <a (click)="addToCart(product._id)" class="btn-product btn-cart"
                  ><span>add to cart</span></a
                >
              </div>
              <!-- End .product-action -->
            </figure>
            <!-- End .product-media -->

            <div class="product-body">
              <h3 class="product-title">
                <a routerLink="/product">{{ product.name }}</a>
              </h3>
              <!-- End .product-title -->
              <div class="product-price">
                <span class="new-price">Now ₹{{ product.salePrice }}</span>
                <span *ngIf="product.price" class="old-price"
                  >Was ₹{{ product.price }}</span
                >
              </div>
              <!-- End .product-price -->
              <div
                *ngIf="product.size.length > 0"
                class="product-nav product-nav-thumbs"
              >
                <div
                  *ngFor="let productSize of product.size"
                  class="size-button"
                  [ngClass]="{
                    active: sizeSelected && productSize === selectedSize
                  }"
                >
                  <button (click)="selectSize(productSize)">
                    {{ productSize.size }}
                  </button>
                </div>
              </div>

              <!-- <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div>
                            </div>
                            <span class="ratings-text">( 6 Reviews )</span>
                        </div> -->
            </div>
            <!-- End .product-body -->
          </div>
          <!-- End .product -->
        </div>
      </div>
    </div>

    <div class="container four_section mt-5">
      <h2 class="title text-center mb-2">Offers & Sales</h2>
      <!-- End .title mb-2 -->

      <div class="row">
        <div *ngFor="let banner of getAllBannerDetails" class="col-md-6">
          <div class="banner">
            <a>
              <img src="{{ banner.image }}" alt="Banner" />
            </a>
          </div>
          <!-- End .banner -->
        </div>
        <!-- End .col-md-6 -->

        <!-- <div class="col-md-6">
                    <div class="banner">
                        <a href="#">
                            <img src="assets/images/banners22.webp" alt="Banner">
                        </a>

                    </div>
                </div> -->
      </div>
      <!-- End .row -->
      <!-- <div class="row">
                <div class="col-md-6">
                    <div class="banner">
                        <a href="#">
                            <img src="assets/images/mens.jpg" alt="Banner">
                        </a>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="banner">
                        <a href="#">
                            <img src="assets/images/womens.jpg" alt="Banner">
                        </a>

                    </div>
                </div>
            </div> -->
    </div>
    <!-- End .container -->
    <div class="mb-3"></div>
    <!-- End .mb-6 -->

    <div class="container-fluid">
      <div class="heading heading-center mb-2">
        <h2 class="title">NEW ARRIVALS</h2>
        <!-- End .title -->
      </div>
      <!-- End .heading -->

      <div class="products new_arivals topsb">
        <div class="row justify-content-center">
          <!-- class="col-6 col-md-4 col-lg-3 col-xl-5col"  before class -->
          <div *ngFor="let product of products" class="col-6 col-md-4 col-lg-3">
            <div class="product product-7 text-center">
              <figure class="product-media product figure">
                <span class="product-label label-circle label-sale">{{
                  product.tag
                }}</span>
                <a routerLink="/product/{{ product._id }}">
                  <img
                    src="{{ product.image }}"
                    alt="Product image"
                    class="product-image"
                  />
                  <!-- <img src="assets/images/products/jea.webp" alt="Product image"
                                        class="product-image-hover"> -->
                </a>

                <div class="product-action-vertical">
                  <a
                    (click)="addToWishlist(product._id)"
                    class="btn-product-icon btn-wishlist btn-expandable"
                    ><span>add to wishlist</span></a
                  >
                  <!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a> -->
                </div>
                <!-- End .product-action-vertical -->

                <div class="product-action">
                  <a
                    (click)="addToCart(product._id)"
                    class="btn-product btn-cart"
                    ><span>add to cart</span></a
                  >
                </div>
                <!-- End .product-action -->
              </figure>
              <!-- End .product-media -->

              <div class="product-body">
                <h3 class="product-title">
                  <a routerLink="/product/{{ product._id }}">{{
                    product.name
                  }}</a>
                </h3>
                <!-- End .product-title -->
                <div class="product-price">
                  <span class="new-price">₹{{ product.salePrice }}</span>
                  <span *ngIf="product.price" class="old-price"
                    >₹{{ product.price }}</span
                  >
                </div>
                <!-- End .product-price -->
                <!-- <div
                  *ngIf="product.size.length > 0"
                  class="product-nav product-nav-thumbs"
                >

                  <div
                    *ngFor="let productSize of product.size"
                    class="size-button"
                    [ngClass]="{
                      active: sizeSelected && productSize === selectedSize
                    }"
                  >
                    <button (click)="selectSize(productSize)">
                      {{ productSize.size }}
                    </button>
                  </div>
                </div> -->
                <!-- <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 40%;"></div>
                                    </div>
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div> -->
              </div>
              <!-- End .product-body -->
            </div>
            <!-- End .product -->
          </div>
          <!-- End .col-sm-6 col-md-4 col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .products -->

      <div class="more-container text-center mt-2">
        <a routerLink="/product-list" class="btn btn-outline-dark-3 btn-more"
          ><span>Load more</span><i class="icon-long-arrow-right"></i
        ></a>
      </div>
      <!-- End .more-container -->
    </div>

    <!-- </div> -->
    <section class="bulk_inqu">
      <div class="container">
        <div
          class="cta cta-horizontal cta-horizontal-box bg-image mb-4 mb-lg-6"
          style="background-image: url(assets/images/bulk_bg.jpg)"
        >
          <div class="row flex-column flex-lg-row align-items-lg-center">
            <div class="col">
              <h3 class="cta-title text-primary">
                Streamline Your Procurement Process with Our Bulk Inquiry
                Service.
              </h3>
              <!-- End .cta-title -->
              <p class="cta-desc">
                Get
                <em class="font-weight-medium">
                  Simplify your purchasing tasks by submitting bulk inquiries
                  effortlessly. Enjoy competitive pricing and expedited
                  responses for all your procurement needs, saving you time and
                  effort.</em
                >
              </p>
              <!-- End .cta-desc -->
            </div>
            <!-- End .col -->

            <div class="col-auto">
              <a
                routerLink="/bulk-inquiry"
                class="btn btn-white-primary btn-round"
                ><span>Bulk Inquiry</span><i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .col-auto -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .cta-horizontal -->
      </div>
      <!-- End .container -->
    </section>
    <div class="blog-posts mb-5">
      <div class="container">
        <h2 class="title text-center mb-2">From Our Blog</h2>
        <!-- End .title text-center -->

        <div
          class="owl-carousel owl-simple mb-3"
          data-toggle="owl"
          data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "items": 3,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    }
                                }
                            }'
        >
          <article *ngFor="let blog of getAllBlogs" class="entry">
            <figure class="entry-media">
              <a routerLink="/single-blog/{{ blog._id }}">
                <!-- <img src="{{ blog.image }}" alt="image desc" /> -->
                <img
                  src="{{ blog.image }}"
                  alt="image desc"
                  [style.height.px]="200"
                  [style.width.px]="320"
                />
              </a>
            </figure>
            <!-- End .entry-media -->

            <div class="entry-body text-center">
              <div class="entry-meta">
                <a href="#">{{ blog.createdAt }}</a
                >, 1 Comments
              </div>

              <h3 class="entry-title">
                <a routerLink="/single-blog/{{ blog._id }}">{{ blog.title }}</a>
              </h3>
              <!-- End .entry-title -->

              <div class="entry-content">
                <a routerLink="/single-blog/{{ blog._id }}" class="read-more"
                  >Read More</a
                >
              </div>
              <!-- End .entry-content -->
            </div>
            <!-- End .entry-body -->
          </article>
          <!-- End .entry -->
        </div>
        <!-- End .owl-carousel -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .blog-posts -->

    <div class="bg-light-2 pt-7 pb-6 testimonials">
      <div class="container">
        <h2 class="title text-center mb-2">Our Customers Say</h2>
        <!-- End .title text-center -->
        <div
          class="owl-carousel owl-theme owl-testimonials"
          data-toggle="owl"
          data-owl-options='{
                "nav": false, 
                "dots": true,
                "margin": 20,
                "loop": true,
                "responsive": {
                    "0": {
                        "items":2
                    },
                    "768": {
                        "items":2
                    },
                    "992": {
                        "items":3
                    },
                    "1200": {
                        "items":3,
                        "nav": true
                    }
                }
            }'
        >
          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              "I recently purchased the Bell Bottom jeans from Dickkny, and I'm
              thrilled with the quality! The denim blend is comfortable, and the
              fit is just perfect for my body type. I'll definitely be coming
              back for more!".
            </p>
            <cite>
              New Delhi
              <span>Anjali Sharma</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->

          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              " Dickkny's Skin Fit jeans have become my go-to pair! The stretch
              in the denim makes them incredibly comfortable, and they look
              fantastic. The range of colors is great too!".
            </p>

            <cite>
              Mumbai
              <span>Priya MehtaCustomer</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->

          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              " I was looking for high-waist jeans that are both stylish and
              comfortable, and the Boot Leg, Jagging Style jeans from Dickkny
              exceeded my expectations. They’re perfect for everyday wear, and
              the material feels premium".
            </p>

            <cite>
              Ahmedabad
              <span>Sneha Patel</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->

          <blockquote class="testimonial testimonial-icon text-center">
            <p>
              " The Boyfriend jeans I bought from Dickkny are just what I was
              looking for! The fit is relaxed, yet flattering, and the denim
              lycra fabric is soft and durable. Highly recommended!".
            </p>

            <cite>
              Bangalore
              <span>Rashmi Rao</span>
            </cite>
          </blockquote>
          <!-- End .testimonial -->
        </div>
        <!-- End .testimonials-slider owl-carousel -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .bg-light pt-5 pb-5 -->
  </main>
  <!-- End .main -->
  <div class="icon-boxes-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rocket"></i>
            </span>
            <div class="icon-box-content">
              <h3 class="icon-box-title">Free Shipping</h3>
              <!-- End .icon-box-title -->
              <p>All India</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rotate-left"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Free Returns</h3>
              <!-- End .icon-box-title -->
              <p>within 10 days</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-info-circle"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
              <!-- End .icon-box-title -->
              <p>When you sign up</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-life-ring"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">We Support</h3>
              <!-- End .icon-box-title -->
              <p>24/7 amazing services</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .icon-boxes-container -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>
