<main class="main">
        	
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let item of cartDetail">
                                    <td routerLink="/product/{{item.productId._id}}" class="product-col cursor-pointer">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a >
                                                    <img [src]="item.productId.image" alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a>{{ item.productId.name }}</a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    <td class="price-col">₹{{ item.productId.salePrice ? item.productId.salePrice  :  item.productId.price }}</td>
                                    <td class="price-col">{{ item.size.size }}</td>
                                    <td class="quantity-col">
                                        <!-- {{ item.quantity }} -->
                                        <div class="cart-product-quantity">
                                            <input type="number" class="form-control" [(ngModel)]="item.quantity"  (click)="updateCart(item.productId._id, item.size, item.quantity)" name="quantity" min="1" max="10" step="1" data-decimals="0" required>
                                        </div>
                                    </td>
                                    <td class="total-col">₹{{ item.productId.salePrice ? item.productId.salePrice  :  item.productId.price * item.quantity}}</td>
                                    <td class="remove-col"><button class="btn-remove" (click)="removeFromCartlist(item.productId._id)"><i class="icon-close"></i></button></td>
                                </tr>
                            </tbody>
                        </table><!-- End .table table-wishlist -->

                        <div class="cart-bottom">
                            <!-- <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="applycoupon" [ngModelOptions]="{ standalone: true }" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button (click)="applyCoupon()" class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div> -->

                            <!-- <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a> -->
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>₹ {{subTotal ? subTotal : 0}}</td>
                                    </tr><!-- End .summary-subtotal -->

                                    <tr *ngIf="discountValue" class="summary-subtotal">
                                        <td>Coupon:</td>
                                        <td>- ₹ {{discountValue ? discountValue : 0}}</td>
                                    </tr>

                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" checked name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                            </div><!-- End .custom-control -->
                                        </td>
                                        <td>₹0.00</td>
                                    </tr>


                                    <!-- <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br> <a routerLink="/dashboard">Change address</a></td>
                                        <td>&nbsp;</td>
                                    </tr> -->

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>₹ {{subTotal ? subTotal : 0}}</td>
                                    </tr>

                                </tbody>
                            </table><!-- End .table table-summary -->

                            <a routerLink="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                        </div><!-- End .summary -->

                        <a routerLink="/home" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->