<div class="container-fluid">
  <div class="policy-container fontClass">
    <h2 class="main">Return and Refund Policy</h2>
    <!-- <p><strong>Last updated:</strong> [Date]</p> -->

    <p class="content">
      At Dickkny, we want you to be completely satisfied with your purchase. If
      you are not entirely happy with your order, we are here to help. This
      Return and Refund Policy outlines the terms and conditions for returning
      and refunding products purchased from our website. By placing an order
      with us, you agree to the terms outlined below.
    </p>

    <h3 class="allH3">1. Returns</h3>

    <h5 class="allH5">a. Eligibility for Returns</h5>
    <ul class="content">
      <li>Items must be returned within 7 days from the date of receipt.</li>
      <li>
        Items must be unused, unworn, and in the same condition that you
        received them.
      </li>
      <li>
        Items must be in the original packaging with all tags and labels
        attached.
      </li>
      <li>Sale items and gift cards are not eligible for returns.</li>
    </ul>

    <h5 class="allH5">b. Return Process</h5>
    <ol class="content">
      <li>
        Contact our customer support team at<a href="mailto:info@dickkny.com"
          >info&#64;dickkny.com
        </a>
        to request a return authorization.
      </li>
      <li>Provide your order number and a brief explanation for the return.</li>
      <li>
        Once your return is approved, you will receive a return authorization
        number and instructions on how to return your item.
      </li>
      <li>
        Pack the item securely in its original packaging and include the return
        authorization number inside the package.
      </li>
      <li>
        Ship the item to the address provided in the return authorization email.
        We recommend using a trackable shipping service or purchasing shipping
        insurance, as we cannot guarantee that we will receive your returned
        item.
      </li>
    </ol>

    <h3 class="allH3">2. Refunds</h3>

    <h5 class="allH5">a. Refund Eligibility</h5>
    <p class="content">
      Once we receive and inspect your returned item, we will notify you of the
      approval or rejection of your refund. If approved, your refund will be
      processed, and a credit will be applied to your original method of payment
      within 7 business days.
    </p>

    <h5 class="allH5">b. Late or Missing Refunds</h5>
    <ol class="content">
      <li>Check your bank account or credit card statement again.</li>
      <li>
        Contact your bank or credit card company, as it may take some time
        before your refund is officially posted.
      </li>
      <li>
        If you have completed these steps and still have not received your
        refund, please contact us at
        <a href="mailto:info@dickkny.com">info&#64;dickkny.com </a>.
      </li>
    </ol>

    <h3 class="allH3">3. Exchanges</h3>
    <p class="content">
      If you need to exchange an item for a different size, color, or style,
      please follow the return process outlined above and place a new order for
      the desired item. Exchanges are subject to product availability.
    </p>

    <h3 class="allH3">4. Damaged or Defective Items</h3>
    <p class="content">
      If you receive a damaged or defective item, please contact us immediately
      at
      <a href="mailto:info@dickkny.com">info&#64;dickkny.com </a> with your
      order number and a description of the issue. We will arrange for a
      replacement or refund, depending on the circumstances.
    </p>

    <h3 class="allH3">5. Return Shipping Costs</h3>
    <ul class="content">
      <li>
        You will be responsible for paying the shipping costs for returning your
        item, except in cases where the return is due to a defective or
        incorrect item received.
      </li>
      <li>
        Shipping costs are non-refundable. If you receive a refund, the cost of
        return shipping will be deducted from your refund.
      </li>
    </ul>

    <h3 class="allH3">6. Contact Us</h3>
    <p class="content">
      If you have any questions or concerns about our Return and Refund Policy,
      please contact us at:
    </p>
    <ul>
      <li>
        Email:
        <strong
          ><a href="mailto:info@dickkny.com">info&#64;dickkny.com </a></strong
        >
      </li>

      <li>
        Mailing Address:<strong class="smallContent">
          2ND FLOOR, IX/3292, GALI NO-6 DHARAMPURA,<br />GANDHI NAGAR, East
          Delhi,110031, NEW DELHI</strong
        >
      </li>
    </ul>
  </div>
</div>
